$headerText: $alabaster;
$headerLocation: $white;
$postDateColor: $cadetBlue;
$postType: $redOrange;
$postBorder: $athensGray;
$postDark: $mineShaft;
$readMore: $redOrange;
$postnavButton: $nevada;
$postnavBorder: $athensGray;
$postnavButtonHover: $redOrange;
$footerBack: $mineShaft;
$footerSocial: $redOrange;
$goupBack: $abbey;
$shareLink: $nevada;
$shareLinkHover: $pictonBlue;
$smallBorder: $redOrange;
$replyColor: $redOrange;
$placeholder: $trout;
$relatedControl: $nevada;
$relatedBorder: $nevada;
$relatedShare: $nevada;
$relatedHover: $redOrange;
$asideBorder: $trout;
$asidelinks: $trout;
$linkIcon: $redOrange;
$tagBack: $redOrange;
$recentTitle: $mineShaft;
$dateIcon: $redOrange;
$tweetColor: $redOrange;
$tweetMain: $trout;
$sliderLink: $redOrange;
$sliderControl: $athensGray;
$sliderControlPosts: $redOrange;
$sectionIdea: $trout;
$sectionLink: $redOrange;
$aboutUsSkill: $mineShaft;
$skillIcon: $trout;
$latestPostHeader: $redOrange;
$latestPostBorder: $mineShaft;
$icon: $redOrange;
$portfolioLink: $redOrange;
$portfolioBorder: $mineShaft;
$toolsBorder: $athensGray;
$opinionComment: $athensGray;
$opinionPoint: $redOrange;
$opinionPointBorder: $trout;
$opinionBigText: $mineShaft;
$opinionJob: $redOrange;
$opinionText: $trout;
$opinionLink: $mineShaft;
$opinionLinkHovered: $redOrange;
$contactIcon: $trout;
$contactInfo: $redOrange;
$contactText: $trout;