//colors
$alabaster: #fafafa;
$white: #ffffff;
$black: #000000;
$cadetBlue: #aab2bd;
$redOrange: #ff3c1f;
$athensGray: #e6e9ed;
$mineShaft: #303030;
$nevada: #656d78;
$abbey: #57595b;
$pictonBlue: #55acee;
$trout: #4e5860;
//path to fa
$fa-font-path: "../webfonts";